@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

div,
body {
	display: flex;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	flex-direction: column;
}

#root {
	width: 100vw;
	height: 100vh;
	width: 100svw;
	height: 100svh;
	font-family: 'Lato';
}

.container {
	background-color: #2980b9;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.home-message {
	color: #ecf0f1;
	font-size: clamp(2.5rem, calc(1rem + 2vw), 4rem);
	font-weight: 700;
	text-align: center;
}

.advice {
	margin-top: 0.5rem;
	color: #ecf0f1;
	font-size: clamp(1.3rem, calc(0.5rem + 2vw), 1.6rem);
	font-weight: 300;
	text-align: center;
}
